<!-- ========== Left Sidebar Start ========== -->

<div class="left side-menu">
  <div class="sidebar-inner slimscrollleft">

    <div class="user-details">
      <div class="text-center">
        <img src="assets/images/users/avatar-1.jpg" alt="" class="img-circle">
      </div>
      <div class="user-info">
        <div class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">OQBA B.V.</a>
          <ul class="dropdown-menu">
            <li><a href="javascript:void(0)"> Profile</a></li>
            <li><a href="javascript:void(0)"> Settings</a></li>
            <li><a href="javascript:void(0)"> Lock screen</a></li>
            <li class="divider"></li>
            <li><a href="javascript:void(0)"> Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--- Divider -->

    <div id="sidebar-menu">
      <ul>
        <li>
          <a href="/" class="waves-effect"><i class="mdi mdi-home"></i><span> Home</span></a>
        </li>

        <li>
          <a href="/invoices" class="waves-effect"><i class="mdi mdi-album"></i><span> Facturen </span></a>
        </li>

        <li>
          <a href="/quotes" class="waves-effect"><i class="mdi mdi-opacity"></i><span> Offertes </span></a>
        </li>

        <li>
          <a href="/relations" class="waves-effect"><i class="mdi mdi-layers"></i><span> Relaties </span></a>
        </li>

        <li>
          <a href="/companies" class="waves-effect"><i class="mdi mdi-diamond"></i><span> Sjablonen</span></a>
        </li>

      </ul>
    </div>
    <div class="clearfix"></div>
  </div> <!-- end sidebarinner -->
</div>
<!-- Left Sidebar End -->